<link rel ="stylesheet" type = "text/css" href="../css/chat.css">

<div> {{message}}</div><br>

<span style="display:none" id="subject"> {{category}}</span>
<span style="display:none" id="chatId">{{chatId}}</span>
<span style ="display:none" id = chat_1>{{chat_1}}</span>
<span style ="display:none" id = chat_2>{{chat_2}}</span>
<span style ="display:none" id = chat_3>{{chat_3}}</span>
<span style="display: none" id="user"> {{user}} </span>

<div class ="container-fluid chat">

	<div class="leftSide col-md-3">
		<h2>
			Enter a Chat Name
		</h2>

		<div class ="addChat">
			<input id="chatName" type = "text" name ="chatName" placeholder = "Chat Name"><br>
			<input id="chatPass" type = "password" name = "pass" placeholder = "optional Password"> <br>
			<button class="btn btn-success"> Add chat</button>
		</div>

		<p>
		Create a chat by entering a name and optional password!
		<p>
	</div>

	<div class="rightSide chatContainer col-md-9 row">

	</div>


</div>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
<script src="../js/chat.js"></script>
<script src="../js/socket.js"></script>
